
{% extends "SanAdminBundle::layout.html.twig" %}

{% block title %}
  Supprimer une compétence - {{ parent() }}
{% endblock %}

{% block body %}

  <h3 class="bgblue">Supprimer une compétence</h3>
{% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">{{ message }}</div>
      {% endfor %}
 <div class="well"> <p>
    Etes-vous certain de vouloir supprimer la compétence "{{ competence.nom }}" ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('san_competences_delete', {'id': competence.id}) }}" method="post">
    <a href="{{ path('san_competences_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>
</div>
{% endblock %}
