<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}
<div class="row">
      <div class="col-sm-8">
 <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.nom, "Nom de la compétence", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.nom) }}

    <div class="col-sm-8">
      {# Génération de l'input. #}
      {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# Idem pour un autre champ. #}
  <div class="form-group">
    {{ form_label(form.content, "Description de la compétence", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.content) }}
    <div class="col-sm-8">
      {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-info'}}) }}
    </div>  
      <div class="col-sm-4">
  
     
           {{ form_rest(form) }}
 
  
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
  </div>
      </div>
  </div>
