
{% extends "SanAdminBundle::layout.html.twig" %}

{% block title %}
  Supprimer un utilisateur - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Supprimer un utilisateur</h2>
{% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-success">{{ message }}</div>
      {% endfor %}
  <p>
    Etes-vous certain de vouloir supprimer l'utilisateur "{{ user.prenom }} {{ user.nom }}" ?
  </p>

  <form action="{{ path('san_user_delete', {'id': user.id}) }}" method="post">
    <a href="{{ path('san_user_view', {'id': user.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'utilisateur
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}
