
{% extends "SanAdminBundle::layout.html.twig" %}

{% block title %}
  Accueil Utilisateurs - {{ parent() }}
{% endblock %}

{% block body %}

  <h3 class="bgblue">Liste des utilisateurs</h3>
  {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-success">{{ message }}</div>
      {% endfor %}
<div class="well">
 <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th></th><th></th>
        <th>Role</th>
        <th>Dernière modification</th>
        </tr>
    </thead>
    <tbody>
    {% for user in listUsers %}
      <tr>
          <td><a href="{{ path('san_user_view', {'id': user.id}) }}">{{ user.prenom }} {{ user.nom }} - {{ user.username }}</a></td>
        <td><a href="{{ path('san_user_edit', {'id': user.id}) }}" role="button" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-edit"></i> Modifier</a>
        </td><td><a href="{{ path('san_user_delete', {'id': user.id}) }}" role="button" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i> Supprimer</a></td>
      
          <td>{% for role in user.roles %}
           {% if role =='ROLE_ADMIN' %} Administrateur 
           {% endif %}  
        {% endfor %}</td>
        
      <td>{{ user.dateMod|date('d/m/Y') }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<ul class="pagination">
    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
    {% for p in range(1, nbPages) %}
      <li{% if p == page %} class="active"{% endif %}>
        <a href="{{ path('san_user_homepage', {'page': p}) }}">{{ p }}</a>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
