
{% extends "SanAdminBundle::layout.html.twig" %}

{% block title %}
  Accueil Utilisateurs - {{ parent() }}
{% endblock %}

{% block body %}

  <h3 class="bgblue">Liste des utilisateurs</h3>
<div class="well">
  <ul>
    {% for user in listUsers %}
      <li>
        
          <a href="{{ path('san_user_view', {'id': user.id}) }}">{{ user.prenom }} {{ user.nom }} - {{ user.username }}</a>
        
        
        le {{ user.dateMod|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) d'utilisateur</li>
    {% endfor %}
  </ul>
</div>
<ul class="pagination">
    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
    {% for p in range(1, nbPages) %}
      <li{% if p == page %} class="active"{% endif %}>
        <a href="{{ path('san_user_homepage', {'page': p}) }}">{{ p }}</a>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
