{% extends "SanAdminBundle::layout.html.twig" %}

{% block title %}
  Utilisateur - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>{{ user.nom }} - {{ user.prenom }}</h2>
  <i>Inscription le {{ user.dateInsc|date('d/m/Y') }} et Modification le {{ user.dateMod|date('d/m/Y') }}</i>
 {% for flash_message in app.session.flashBag.get('notice') %}
    <div class="flash-notice">
        {{ flash_message }}
    </div>
{% endfor %}
  <div class="row">
    <div class="col-md-6 well">  
    <ul>
        <li>UserName : {{ user.username }}</li>
        <li>Adresse email : {{ user.email }}</li>
        <li>Société : {{ user.societe }}</li>
        <li>Téléphone : {{ user.telephone }}</li>
        <li>Portable : {{ user.portable }}</li>
    </ul> 
    </div>
    {% if user.imageName is not null %}
  <div class="col-md-6">
       <img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="{{ user.imageName }}" width="200px">
  </div>
{% endif %}
    </div>
    

  <p>
    
    <a href="{{ path('san_user_edit', {'id': user.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'utilisateur
    </a>
    <a href="{{ path('san_user_delete', {'id': user.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'utilisateur
    </a>
  </p>

{% endblock %}
