 {% if ifEvents is not empty %}
    
  <section id="evenements">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Nos évènements</h3>
         <div class="section-title-divider"></div>
         </div>
    </div>
           <div class="row">
         <div class="col-md-8 col-md-offset-2">
     {% for event in listEvents %}
<div class="panel panel-primary">
    <div class="panel-heading"><b>{{ event.titre }}</b> <span class="small"><i class="fa fa-calendar"></i> {{ event.eventDate|date('d/m/Y') }} - {{ event.adresse }}</span> </div>
    <div class="panel-body">
        {% if event.imageName is not null %}
  <img src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="{{ event.imageName }}" width="200px" align="right">
{% endif %}
        {{ event.content | raw }}
     <br/><br/>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('san_insc_add', {'id': event.id}) }}" class="btn btn-info">
      <i class="glyphicon glyphicon-edit"></i>
      Inscrivez-vous
    </a>
         
         {% else %}
        <a href="{{ path('san_insc_add', {'id': event.id}) }}" class="btn btn-info">
      <i class="glyphicon glyphicon-edit"></i> Inscrivez-vous</a>
        {% endif %}
         </div>
    
      <div class="clear">
      <i class="fa fa-calendar"></i>  {{ event.eventDate|date('d/m/Y h:i') }} - {{ event.adresse }} 
      </div></div>  
{% endfor %}
        </div>
      </div>
    </div>
  </section>    
  
{% endif %}
    