
  {% for event in listEvents %}
<div class="panel panel-primary">
    <div class="panel-heading"><b>{{ event.titre }}</b> <span class="small"><i class="fa fa-calendar"></i> {{ event.eventDate|date('d/m/Y') }} - {{ event.adresse }}</span> </div>
    <div class="panel-body">
        {% if event.imageName is not null %}
  <img src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="{{ event.imageName }}" width="200px" align="right">
{% endif %}
        {{ event.content }}
     <br/><br/>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('san_insc_add', {'id': event.id}) }}" class="btn btn-info">
      <i class="glyphicon glyphicon-edit"></i>
      Inscrivez-vous
    </a>
         
         {% else %}
        <a href="{{ path('san_insc_add', {'id': event.id}) }}" class="btn btn-info">
      <i class="glyphicon glyphicon-edit"></i> Inscrivez-vous</a>
        {% endif %}
         </div>
    
      <div class="clear">
      <i class="fa fa-calendar"></i>  {{ event.eventDate|date('d/m/Y') }} - {{ event.adresse }} 
      </div></div>  
{% endfor %}

    