{% extends "SanAdminBundle::layout.html.twig" %}

{% block title %}
  Evenement - {{ parent() }}
{% endblock %}

{% block body %}

  <h3 class="bgblue">{{ event.titre }}</h3>
  <i>Par {{ event.user.username }}, le {{ event.pubDate|date('d/m/Y') }}</i>
   <p>
    
    <a href="{{ path('san_event_edit', {'id': event.id}) }}" class="btn btn-info btn-sm">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'évènement
    </a>
    <a href="{{ path('san_event_delete', {'id': event.id}) }}" class="btn btn-danger btn-sm">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'évènement
    </a>
  </p>
 {% for flash_message in app.session.flashBag.get('notice') %}
    <div class="flash-notice">
        {{ flash_message }}
    </div>
{% endfor %}

<div class="panel panel-primary">
    <div class="panel-heading"><b>{{ event.titre }}</b></div>
    <div class="panel-body">
        {% if event.imageName is not null %}
  <img src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="{{ event.imageName }}" width="200px" align="right">
{% endif %}
        {{ event.content | raw }}
     
         </div>
    
      <div class="clear">
      <i class="fa fa-calendar"></i>  {{ event.eventDate|date('d/m/Y h:i') }} - {{ event.adresse }} 
      </div></div>  
      
    {% if listinscrits|length > 0 %}
    <div class="panel panel-primary">
    <div class="panel-heading"><b>Liste des gens inscrits</b></div>
    <div class="panel-body">
      <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Email</th>
        <th>Société</th>
        <th>Téléphone</th>
        <th>Portable</th>
      </tr>
    </thead>
    <tbody>
        {% for inscrit in listinscrits %}
            <tr>
                <td><a href="{{ path('san_user_view', {'id': inscrit.user.id}) }}">{{ inscrit.user.prenom }} {{ inscrit.user.nom }}</a> </td>
                <td>{{ inscrit.user.email }}</td>
                <td>{{ inscrit.user.societe }}</td>
                <td>{{ inscrit.user.telephone }}</td>
                <td>{{ inscrit.user.portable }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
     </div>
    
      </div>     
      {% endif %}  
     <p>
    <a href="{{ path('san_event_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
  </p>  

{% endblock %}
