{% extends "SanAdminBundle::layout.html.twig" %}

{% block title %}
  Offre - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>{{ event.titre }}</h2>
  <i>Par {{ event.user.username }}, le {{ event.pubDate|date('d/m/Y') }}</i>
 {% for flash_message in app.session.flashBag.get('notice') %}
    <div class="flash-notice">
        {{ flash_message }}
    </div>
{% endfor %}
  <div class="well">
    {{ event.content }}
    </div>
     <div class="well">
    {# On vérifie qu'une image soit bien associée à l'evenement #}
{% if event.image is not null %}
  <img src="{{ asset(event.image.webPath) }}" alt="{{ event.image.alt }}">
{% endif %}

  </div>

  <p>
    
    <a href="{{ path('san_event_edit', {'id': event.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'évènement
    </a>
    <a href="{{ path('san_event_delete', {'id': event.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'évènement
    </a>
  </p>

{% endblock %}
