{% extends "SanCoreBundle::layoutpages.html.twig" %}

{% block title %}
  Offre - {{ parent() }}
{% endblock %}

{% block body %}
<div class="col-md-12">
    
 <h3 class="section-title">{{ offre.titre }}</h3>
 <div class="section-title-divider"></div>
 <p class="text-right"> <i>Posté le {{ offre.pubDate|date('d/m/Y') }}</i></p>
 
  <p class="section-description">
      {% if offre.imageName is not null %}
  <img src="{{ vich_uploader_asset(offre, 'imageFile') }}" alt="{{ offre.imageName }}" align="right" width="400px" class="img-responsive img-thumbnail">
{% endif %}
    {{ offre.content | raw }}
 <a href="{{ path('san_candidature_add', {'id': offre.id}) }}"><button type="button" class="btn btn-info">Postulez à l'offre</button></a>
  </p>
</div></div>
  <div class="row">
   <div class="panel panel-primary">
  <div class="panel-heading">Type de contrat</div>
  <div class="panel-body">{{ offre.contrat.nom }}</div>
    </div> 
    <div class="panel panel-primary">
  <div class="panel-heading">Formation</div>
  <div class="panel-body">{{ offre.formation | raw }}</div>
    </div> 
  <div class="panel panel-primary">
  <div class="panel-heading">Mission</div>
  <div class="panel-body">{{ offre.mission | raw }}</div>
    </div> 
    {% if not offre.categories.empty %}
    <div class="panel panel-primary">
  <div class="panel-heading">Catégories</div>
  <div class="panel-body"><ul>
    {% for category in offre.categories %}
        <li>{{ category.nom }}</li>
    {% endfor %}
      </ul></div>
    </div>    
    {% endif %} 
    {% if not offre.competences.empty %}
    <div class="panel panel-primary">
  <div class="panel-heading">Compétences nécessaires</div>
  <div class="panel-body"><ul>
    {% for competence in offre.competences %}
        <li>{{ competence.nom }}</li>
    {% endfor %}
      </ul></div>
    </div>    
    {% endif %} 
    
      </div>

{% endblock %}

