{% extends "SanAdminBundle::layout.html.twig" %}

{% block title %}
  Offre - {{ parent() }}
{% endblock %}

{% block body %}

  <h3 class="bgblue">{{ offre.titre }}</h3>
   {% for flash_message in app.session.flashBag.get('notice') %}
    <div class="flash-notice">
        {{ flash_message }}
    </div>
{% endfor %}
  <i>Par {{ offre.user.username }}, le {{ offre.pubDate|date('d/m/Y') }}</i>
  <p>
    
    <a href="{{ path('san_offre_edit', {'id': offre.id}) }}" class="btn btn-info btn-sm">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'offre
    </a>
    <a href="{{ path('san_offre_delete', {'id': offre.id}) }}" class="btn btn-danger btn-sm">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'offre
    </a>
  </p>

  <div class="well">
       {% if offre.imageName is not null %}
  <img src="{{ vich_uploader_asset(offre, 'imageFile') }}" alt="{{ offre.imageName }}" align="right">
{% endif %}
    {{ offre.content }}
    </div>

               <div class="panel panel-primary">
  <div class="panel-heading">Type de contrat</div>
  <div class="panel-body">{{ offre.contrat.nom }}</div>
    </div> 
    <div class="panel panel-primary">
  <div class="panel-heading">Formation</div>
  <div class="panel-body">{{ offre.formation }}</div>
    </div> 
  <div class="panel panel-primary">
  <div class="panel-heading">Mission</div>
  <div class="panel-body">{{ offre.mission }}</div>
    </div> 
    {% if not offre.categories.empty %}
    <div class="panel panel-primary">
  <div class="panel-heading">Catégories</div>
  <div class="panel-body"><ul>
    {% for category in offre.categories %}
        <li>{{ category.nom }}</li>
    {% endfor %}
      </ul></div>
    </div>    
    {% endif %} 
    {% if not offre.competences.empty %}
    <div class="panel panel-primary">
  <div class="panel-heading">Compétences nécessaires</div>
  <div class="panel-body"><ul>
    {% for competence in offre.competences %}
        <li>{{ competence.nom }}</li>
    {% endfor %}
      </ul></div>
    </div>    
    {% endif %} 
    


  

{% endblock %}
