
{% extends "SanAdminBundle::layout.html.twig" %}

{% block title %}
  Accueil categories - {{ parent() }}
{% endblock %}

{% block body %}

  <h3 class="bgblue">Liste des catégories</h3>
  {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-success">{{ message }}</div>
      {% endfor %}
<div class="well">
   <a href="{{ path('san_categories_add') }}" role="button" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Ajouter une catégorie</a>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Titre de la catégorie</th>
        <th></th><th></th>
        <th>Description</th>
        </tr>
    </thead>
    <tbody>
    {% for categorie in listCategories %}
     <tr>
        <td>{{ categorie.nom }}</td>
        <td><a href="{{ path('san_categories_edit', {'id': categorie.id}) }}" role="button" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-edit"></i> Modifier</a>
        </td><td><a href="{{ path('san_categories_delete', {'id': categorie.id}) }}" role="button" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i> Supprimer</a></td>
        
     <td>{{ categorie.content }}</td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
      
</div>
  <ul class="pagination">
    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
    {% for p in range(1, nbPages) %}
      <li{% if p == page %} class="active"{% endif %}>
        <a href="{{ path('san_categories_homepage', {'page': p}) }}">{{ p }}</a>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
