
{% extends "SanAdminBundle::layout.html.twig" %}

{% block title %}
  Accueil Newsletter - {{ parent() }}
{% endblock %}

{% block body %}

  <h3 class="bgblue">Liste des newsletters</h3>
  {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-success">{{ message }}</div>
      {% endfor %}
<div class="well">
  <a href="{{ path('san_newsletter_add') }}" role="button" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Ajouter une newsletter</a>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Titre</th>
        <th></th>
        <th>Publié par</th>
      </tr>
    </thead>
    <tbody>
    {% for newsletter in listNewsletter %}
     <tr>
        <td><a href="{{ path('san_newsletter_view', {'id': newsletter.id}) }}">{{ newsletter.titre }}</a></td>
        <td><a href="{{ path('san_newsletter_delete', {'id': newsletter.id}) }}" role="button" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i> Supprimer</a></td>
        <td>{{ newsletter.user.username }}, le {{ newsletter.pubDate|date('d/m/Y') }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
   
</div>
  <ul class="pagination">
    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
    {% for p in range(1, nbPages) %}
      <li{% if p == page %} class="active"{% endif %}>
        <a href="{{ path('san_newsletter_homepage', {'page': p}) }}">{{ p }}</a>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
