<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Galax-IT Administration{% endblock %}</title>
    <link href="{{ asset('favicon.ico') }}" rel="shortcut icon">
    {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
     <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
   <!-- Bootstrap CSS File -->
  <link href="{{ asset('lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  
  <!-- Libraries CSS Files -->
  <link href="{{ asset('lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ asset('lib/animate-css/animate.min.css') }}" rel="stylesheet">
  
  <!-- Main Stylesheet File -->
  <link href="{{ asset('css/adminstyle.css') }}" rel="stylesheet">
  {% endblock %}
  
  </head>
<body>
        <nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ path('san_admin_homepage') }}"><img src="{{ asset('img/logo.png') }}" height="30px" alt="GalaxIT"/>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">			
			<form class="navbar-form navbar-left" method="GET" role="search">
				<div class="form-group">
					<input type="text" name="q" class="form-control" placeholder="rechercher">
				</div>
				<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ path('san_core_homepage') }}" target="_blank">Visiter le Site</a></li>
				<li class="dropdown ">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						Account
						<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li class="divider"></li>
							<li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid main-container clear">
            <div class="col-md-3 sidebar">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#">Dashboard</a></li>
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-suitcase"></i> Offres d'emploi<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('san_offre_add') }}"><i class="fa fa-plus"></i> Nouvelle offre</a></li>
                            <li><a href="{{ path('san_offre_homepage') }}"><i class="fa fa-list"></i> Gestion des offres</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-address-card-o"></i> Candidats<span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li><a href="{{ path('san_candidats_liste') }}"><i class="fa fa-list"></i> Gestion des candidats</a></li>
                            {{ render(controller("SanUserBundle:Statut:liste")) }}
                            </ul>
                    </li>
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-calendar"></i> Evènements<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('san_event_add') }}"><i class="fa fa-calendar-plus-o"></i> Nouvel évènement</a></li>
                            <li><a href="{{ path('san_event_homepage') }}"><i class="fa fa-list"></i> Gestion des évènements</a></li>
                        </ul>
                    </li>
                      <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-newspaper-o"></i> News<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('san_news_add') }}"><i class="fa fa-plus"></i> Nouvelle news</a></li>
                            <li><a href="{{ path('san_news_homepage') }}"><i class="fa fa-list"></i> Gestion des news</a></li>
                            <li><a href="{{ path('san_newscat_homepage') }}"><i class="fa fa-list"></i> Gestion des catégories news</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text-o"></i> Newsletter<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('san_newsletter_add') }}"><i class="fa fa-plus"></i> Nouvelle newsletter</a></li>
                            <li><a href="{{ path('san_newsletter_homepage') }}"><i class="fa fa-list"></i> Archive des newsletters</a></li>
                            <li><a href="{{ path('san_abonnes_homepage') }}"><i class="fa fa-group"></i> Abonnés à la newsletter</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users"></i> Utilisateurs<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            
                            <li><a href="{{ path('san_user_homepage') }}"><i class="fa fa-users"></i> Gestion des utilisateurs</a></li>
                        </ul>
                    </li>
                     <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-list"></i> Autres<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            
                            <li><a href="{{ path('san_categories_homepage') }}"><i class="fa fa-angle-right"></i> Gestion des catégories</a></li>
                            <li><a href="{{ path('san_competences_homepage') }}"><i class="fa fa-angle-right"></i> Gestion des compétences</a></li>
                            <li><a href="{{ path('san_statuts_homepage') }}"><i class="fa fa-angle-right"></i> Gestion des statuts</a></li>
                            <li><a href="{{ path('san_contrats_homepage') }}"><i class="fa fa-angle-right"></i> Gestion des contrats</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('san_cvtheque_homepage') }}">CVthèque</a></li>
		</ul>
                    
		</div>
		<div class="col-md-9 content">
                     {% block body %}
    {% endblock %}

		</div>
		<footer class="pull-left footer">
		
				<hr class="divider">
				<div class="dark">&copy; Galax-IT 2017 - Tous droits réservés - <a href="{{ path('san_legal_homepage') }}">Informations légales</a>
         </div>
			
		</footer>
	</div>
<!-- Required JavaScript Libraries -->
  <script src="{{ asset('lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ asset('lib/bootstrap/js/bootstrap.min.js') }}"></script>
    </body>
</html>
