{% extends "SanCoreBundle::layoutpages.html.twig" %}
{% block body %}
     <h3 class="section-title">Candidature à l'offre {{ offre.titre }}</h3>
   <div class="section-title-divider"></div>
   {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">Message flash : {{ message }}</div>
      {% endfor %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <h4 class="text-center"><i class="fa fa-user"></i> Bienvenue {{ app.user.username }}</h4>
    
    <p class="section-description">Si ce n'est pas vous, <a href="{{ path('fos_user_security_logout') }}">déconnectez-vous</a></p>
    <div class="section-title-divider"></div>
    <div class="col-md-12 text-center"><p class="section-description">Voulez-vous postuler à l'offre "{{ offre.titre }}" ?</p>

{% else %}
    
        <p class="section-description"> Vous devez d'abord vous inscrire en tant
            qu'utilisateur avant de postuler.</p>
        <p class="section-description"> Déjà inscrit? Loggez-vous ! {{ render(controller("FOSUserBundle:Security:login")) }}</p>   
 {% endif %} </div> 
{{ form(form) }}
{% endblock %}


