<html>
  <head>
     
    <style>
      /* On commence par définir les propriétés de la page : les marges en haut
       * et en bas permettront d'insérer un en-tête et un pied de page */
      @page {
        margin: 50px 0 25px 0;
      }
      body{
          color: #000;
  font-family: "verdana", sans-serif;
  font-size:12px;
      }
      /* La position fixed permet de placer les éléments sur toutes les pages
       * du document pdf, le reste n'est que décoration */
      #header {
        position: fixed; 
        left: 10px;
       
        right: 10px;
        color: #000;
        padding:10px;
        background-color: #fff;
      }
      #header {
        top: -50px;
        height: 50px;
      }
      #footer {
        bottom: -25px;
        height: 25px;
       position: fixed; 
        left: 0px;
         padding:10px;
        right: 0px;
        color: #fff;
        background-color:#337AB7;
      }
      /* Pour améliorer un peu la lisibilité on ajoute une marge au corps de
       * texte. Ca aurait pu être fait en agrandissant les marges au niveau
       * de la page mais je trouve qu'utiliser un div dédié pour le contenu
       * est cohérent */
      #content { 
        margin: 25px;
      }
      /* On teste quelques d'options css différentes */
      h1 { text-transform: uppercase; text-align: center; font-weight: bold; font-size:24px;}
      h2 {font-weight: bold; border: solid 1px #ccc; padding:10px; font-size:18px; }
      /* On met même en place un système de colonnes pour tester les float */
      .col-25, .col-75 { float: left; }
      .col-25 { width: 25%; }
      .col-75 { width: 75%; }
      .row { clear: both; }
      .bgblue{
    background-color:#337AB7;
    color:#fff;
    padding:10px;
}
    </style>
  </head>
  <body>
    <!-- On commence par ajouter le header et le footer pour qu'ils soient 
      visibles sur toutes les pages. Si on les ajoute après avoir rempli plus
      d'une page, ils ne seront insérés qu'après le saut de page -->
    <div id="header">
      <!-- Grâce aux options définies dans le contrôleur on peut insérer des 
        images à partir de leur url absolue -->
      <img src="{{ app.request.getSchemeAndHttpHost() ~ asset('img/logo.png') }}" alt="logo"width="200px">
    </div>
  
    <!-- Maintenant on rempli le document -->        
    <div id="content">
      <h1>{{ candidature.user.prenom }} {{ candidature.user.nom }}</h1>
      <h2>{{candidature.content}}</h2>
      
    <p>Candidature à l'offre {{ candidature.offre.titre }} - Disponible le {{ candidature.dateDispo|date('d/m/Y') }}</p>
       
         <h3 class="bgblue">Coordonnées</h3>
         <table>
             <tr>
                 <td valign="top">
                     <ul>
          <li><b>Adresse</b> : {{ candidature.adresse }} {{ candidature.cp }} {{ candidature.ville }} {{ candidature.pays }}</li>
          <li><b>Téléphone</b> : {{ candidature.user.telephone }}</li>
          <li><b>Portable</b> : {{ candidature.user.portable }}</li>
                     </ul>
                 </td>
                 <td valign="top">
      <ul>
          <li><b>Web</b> : {{ candidature.web }}</li>
      <li><b>Linkdn</b> : {{ candidature.linkdn }}</li>
      <li><b>Viadeo</b> : {{ candidature.viadeo }}</li>
      <li><b>Twitter</b> : {{ candidature.twitter }}</li>
      </ul>
                 </td></tr></table>
   <h3 class="bgblue">Catégories et compétences</h3>
  
      {% if not candidature.competences.empty %}
      <ul>
    {% for competence in candidature.competences %}
        <li>{{ competence.nom }} - {{ competence.categorie.nom }} </li>
    {% endfor %}
      </ul>
{% endif %}
 
   <h3 class="bgblue">Formation</h3>
  <p>{{ candidature.formation }}</p>
   
   <h3 class="bgblue">Réalisations</h3>
  <p>{{ candidature.realisations }}</p>
     <h3 class="bgblue">Technologies</h3>
  <p>{{ candidature.techno }}</p>
   <h3 class="bgblue">Evolution</h3>
  <p>{{ candidature.evolution }}</p>
  
    </div> 
    <div id="footer">Copyright Galax-IT - Version {{ candidature.pubdate|date('d/m/Y') }}</div>
  </body>
</html>