
{% extends "SanAdminBundle::layout.html.twig" %}

{% block title %}
  Accueil News - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Liste des news</h2>
<div class="well">
  <ul>
    {% for news in listNews %}
      <li>
        
          <a href="{{ path('san_news_view', {'id': news.id}) }}">{{ news.titre }}</a>
        
        par {{ news.user.username }},
        le {{ news.pubDate|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) de news</li>
    {% endfor %}
  </ul>
</div>
  <ul class="pagination">
    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
    {% for p in range(1, nbPages) %}
      <li{% if p == page %} class="active"{% endif %}>
        <a href="{{ path('san_news_homepage', {'page': p}) }}">{{ p }}</a>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
