{% extends "SanAdminBundle::layout.html.twig" %}

{% block title %}
  News - {{ parent() }}
{% endblock %}

{% block body %}

  <h3 class="bgblue">{{ news.titre }}</h3>
  
  {% for flash_message in app.session.flashBag.get('notice') %}
    <div class="flash-notice">
        {{ flash_message }}
    </div>
{% endfor %}
  <i>Par {{ news.user.username }}, le {{ news.pubDate|date('d/m/Y') }}</i>
  <p>
    
    <a href="{{ path('san_news_edit', {'id': news.id}) }}" class="btn btn-info btn-sm">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier la news
    </a>
    <a href="{{ path('san_news_delete', {'id': news.id}) }}" class="btn btn-danger btn-sm">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer la news
    </a>
  </p>
 
  <div class="panel panel-primary">
      <div class="panel-heading"><b>{{ news.titre }}</b>  </div>
    <div class="panel-body">
        {% if news.imageName is not null %}
  <img src="{{ vich_uploader_asset(news, 'imageFile') }}" alt="{{ news.imageName }}" width="200px" align="right">
{% endif %}
        {{ news.content | raw }}
 
        {% if is_granted("ROLE_ADMIN") %}
            <p class="text-right"><a href="{{ path('san_news_edit', {'id': news.id}) }}">
      <i class="glyphicon glyphicon-edit"></i>
                </a></p>
     {% endif %}
         </div>
    
      <div class="panel-footer">
        {% if not news.newscats.empty %}
  <div class="label label-primary small">
    Catégories :
    {% for newscat in news.newscats %}
      {{ newscat.nom }}{% if not loop.last %}, {% endif %}
    {% endfor %}
  </div>
{% endif %}
      </div></div>  

  </div>

  

{% endblock %}
