{% extends "SanCoreBundle::layout.html.twig" %}

{% block title %}
  Espace Carrière - {{ parent() }}
{% endblock %}

{% block body %}
  <!--==========================
  Hero Section
============================-->
  <section id="carriere">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <img class="" src="{{ asset('img/logoclear.png') }}" alt="Galax-IT" width="600px">
        </div>
        
        <h1>Bienvenue dans l'espace carrière de Galax-IT</h1>
        <h4 class="txtlight"><b>Rejoignez la Team Galax IT : nos consultants sont nos clients !</b><br/><br/>

Salarié ou freelance nous prenons le temps de comprendre votre ambition rejoignant nos valeurs : 
<br/><br/>L’adéquation Homme, projet et contexte
</h4>
        <div class="actions">
          <a href="#services" class="btn-services">Nos Offres</a>
          <a href="{{ path('san_candidature_add', {'id': 9}) }}" class="btn-services">Candidature Spontanée</a>
        </div>
        <div class="actions">
          <a href="https://www.linkedin.com/company-beta/10938554/" target="_blank"><i class="fa fa-linkedin-square fa-4x"></i></a>
          
        </div>
      </div>
    </div>
  </section>
  
  {{ include("SanCoreBundle:Core:menumain.html.twig") }}
  
<!--==========================
  Offres d'emploi Section
============================-->  
  <section id="services">
    <div class="container wow fadeInUp">
      <div class="row">
         <div class="col-md-12">
          <h3 class="section-title">Nos offres</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">
              Toujours à l'écoute du marché, Galax-IT a un besoin pressant des profils qui suivent. 
              N'hésitez pas à postuler si un profil vous correspond !</p>
         </div></div>
          <div class="row">
         <div class="col-md-12">
             
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Titre du poste</th>
        <th>Catégorie</th>
        <th>Contrat</th>
        <th>Lieu</th>
      </tr>
    </thead>
    <tbody>
      {{ render(controller("SanOffresBundle:Offre:menu")) }}
        
    </tbody>
  </table>
</div>
        </div>
        </div>
    
  </section>

{% endblock %}    