{% extends "SanCoreBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

 
 
{% block body %}
{{ include("SanCoreBundle:Core:menu.html.twig") }}
<div class="container alert alert-success">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    Connecté en tant que {{ app.user.username }}
    -
    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
{% else %}
    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
{% endif %}
</div>
<h2><a href="admin">Section Administration</a>
  <h2>Page d'accueil</h2>


      {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">Message flash : {{ message }}</div>
      {% endfor %}
    

{% endblock %}