
{{ civilite }} {{ prenom }} {{ nom }} ( {{ email }} ) vient d'envoyer le message "{{ sujet }}"
<br/><br/>
Le message est le suivant:<br/>
" {{ message }} "
<br/><br/>
<a href="http://galax-it.com">Le site Galax-IT</a>