
{% block menu %}
<!--==========================
  Header Section
============================-->
  <header id="header">
    <div class="container col-sm-12">
    
      <div id="logo" class="pull-left">
        <a href="#hero"><img src="{{ asset('img/logoclear.png') }}" alt="" title="" /></a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Header 1</a></h1>-->
      </div>
        
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Accueil</a></li>
          <li class="menu-has-children"><a href="#about">Qui sommes-nous ?</a>
          <ul>
              <li><a href="#societe">La Société</a></li>
              <li><a href="#team">Notre équipe</a></li>
          </ul></li>
          <li><a href="carriere.html">Rejoignez-nous</a></li>
          <li><a href="#evenements">Evènements</a></li>
          <li class="menu-has-children"><a href="#services">Nos activités</a>
            <ul>
              <li><a href="#secteurs">Nos Secteurs</a></li>
              <li class="menu-has-children"><a href="#metiers">Nos métiers</a>
                <ul>
                  <li><a href="#conseil">Conseil</a></li>
                  <li><a href="#service">Services</a></li>
                  <li><a href="#solutions">Solutions</a></li>
                </ul>
              </li>
            <li><a href="#testimonials">Nos Clients</a></li>
            <li><a href="#collaborateurs">Nos Collaborateurs</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contactez-nous</a></li>
           <li>
               {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <span style="color:#ccc;">Connecté en tant que {{ app.user.username }}
        -</span>
    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
{% else %}
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#menu-modal">Inscrivez-vous</button>
    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
<a href="{{ path('fos_user_registration_register') }}">register</a>
{% endif %}

            </li>
             
           
      </nav><!-- #nav-menu-container -->
       
    </div>
  </header><!-- #header -->
 <!-- Modal -->
<div id="menu-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

       <div class="modal-content loginmodal-container">
           <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Entrez vos détails</h4>
      </div>
           <div class="modal-body">
        {{ render(controller("FOSUserBundle:Security:login")) }}
           </div>
        <div class="modal-footer">
            <p> <button type="button" class="btn btn-info" data-dismiss="modal" data-toggle="modal" data-target="#register-modal">Inscrivez-vous</button></p>
        </div>
    </div>

  </div>
</div> 
  <!-- fin modal -->  
  <!-- Modal -->
<div id="register-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

       <div class="modal-content loginmodal-container">
           <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Entrez vos détails</h4>
      </div>
           <div class="modal-body">
        {{ render(controller("FOSUserBundle:Registration:register")) }}
           </div>
        <div class="modal-footer">
            <p> <a href="{{ path('san_offre_homepage') }}">Pas encore inscrit? Inscrivez-vous !</a></p>
        </div>
    </div>

  </div>
</div> 
  <!-- fin modal -->
{% endblock %}
