{% extends "SanAdminBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

 
 
{% block body %}
    <div class="row">
        <div class="col-md-5">
<div class="panel panel-default">
                <div class="panel-heading">
                    Rendez-vous à venir
                </div>
                <div class="panel-body">
                    <ul>
                    {% for rdv in listRdvs %}
                        <li> {{ rdv.dateRdv|date('d/m/Y H:i') }} <a href="{{ path('san_user_view', {'id': rdv.id}) }}">{{ rdv.prenom }} {{ rdv.nom }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div></div>
        <div class="col-md-5">
        <div class="panel panel-default">
                <div class="panel-heading">
                    Nouvelles candidatures
                </div>
                <div class="panel-body">
                    <ul>
                   {% for cand in listCandidatures %}
                       <li>
                       <a href="{{ path('san_candidats_view', {'id': cand.id}) }}">{{ cand.user.prenom }} {{ cand.user.nom }}</a>
            <br/><small>{{ cand.content }}</small> pour l'offre <a href="{{ path('san_offre_view', {'id': cand.offre.id}) }}">{{ cand.offre.titre }}</a>
                       </li> 
                       {% endfor %} 
                    </ul>
                </div>
        </div></div>
    </div>
{% endblock %}